.slotContainer {
    width: 64px;
    height: 64px;
    margin: 5px;
    /* border-left-color: rgb(48, 48, 48);
    border-right-color: rgb(48, 48, 48);
    border-top-color: rgb(48, 48, 48);
    border-bottom-color: rgb(48, 48, 48);
    background-color: rgb(9, 19, 21); */
    background-image: url('/Assets/Student_Assets/LeoEsguerra/Art/inventory_slot.png');
    background-color: rgba(0, 0, 0, 0);
}

.slotIcon {
    padding: 15px;
    flex-shrink: 0;
    flex-grow: 1;
}
