.slotContainer {
    width: 64px;
    height: 64px;
    margin-left: 18px;
    margin-top: 5px;
    background-image: url("project://database/Assets/Student_Assets/LeoEsguerra/Art/inventory_slot.png?fileID=21300000&guid=b5936966a599c48498f78a93a912436e&type=3#inventory_slot");
    background-color: rgba(0, 0, 0, 0);
}

.slotIcon {
    flex-shrink: 0;
    flex-grow: 1;
}
